@import "../checkbox/checkbox";
@import "../pagination/pagination";
@checkedMargin: 0;
@checkedBackgroundColor:#fae;
table{
  border-collapse: collapse;
  th,td{
    box-sizing: border-box;
    border: 1px solid #000;
  }
}
