<link rel="stylesheet" href="../../css/public.css">
<link rel="stylesheet" href="./input_text.css">
<h3>down</h3>
<div class="row" style="position: relative;">
    <span class="inputContainer down">
        <input class="inputText" type="text" id="input-1">
        <label class="inputLabel" for="input-1">
            <span class="inputContent">Username</span>
        </label>
    </span>
</div>
<h3>left</h3>
<div class="row" style="position: relative;">
    <span class="inputContainer left">
        <input class="inputText" type="text" id="input-2">
        <label class="inputLabel" for="input-2">
            <span class="inputContent">Username</span>
        </label>
    </span>
</div>
<h3>right</h3>
<div class="row" style="position: relative;">
    <span class="inputContainer right">
        <input class="inputText" type="text" id="input-3">
        <label class="inputLabel" for="input-3">
            <span class="inputContent">Username</span>
        </label>
    </span>
</div>
<h3>top</h3>
<div class="row" style="position: relative;">
    <span class="inputContainer top">
        <input class="inputText" type="text" id="input-4">
        <label class="inputLabel" for="input-4">
            <span class="inputContent">Username</span>
        </label>
    </span>
</div>
