<link rel="stylesheet" href="./button.css">
<p>
    <button class="btn btn_default">按钮</button>
    <button class="btn btn_primary">按钮</button>
    <button class="btn btn_default">Default</button>
    <button class="btn btn_primary">Primary</button>
    <button class="btn btn_success">Success</button>
    <button class="btn btn_info">Info</button>
    <button class="btn btn_warning">Warning</button>
    <button class="btn btn_danger">Danger</button>
    <button class="btn btn_link">Link</button>
</p>
<p>
    <button class="btn btn_default disabled">按钮</button>
    <button class="btn btn_primary disabled">按钮</button>
    <button class="btn btn_default disabled">Default</button>
    <button class="btn btn_primary disabled">Primary</button>
    <button class="btn btn_success disabled">Success</button>
    <button class="btn btn_info disabled">Info</button>
    <button class="btn btn_warning disabled">Warning</button>
    <button class="btn btn_danger disabled">Danger</button>
    <button class="btn btn_link disabled">Link</button>
</p>
