<link rel="stylesheet" href="./button.css">
<h3>示例</h3>
<p>
    <button class="btn btn_default">Default</button>
    <button class="btn btn_primary">Primary</button>
    <button class="btn btn_success">Success</button>
    <button class="btn btn_info">Info</button>
    <button class="btn btn_warning">Warning</button>
    <button class="btn btn_danger">Danger</button>
    <button class="btn btn_link">Link</button>
</p>
<p>
    <button class="btn btn_default disabled">Default</button>
    <button class="btn btn_primary disabled">Primary</button>
    <button class="btn btn_success disabled">Success</button>
    <button class="btn btn_info disabled">Info</button>
    <button class="btn btn_warning disabled">Warning</button>
    <button class="btn btn_danger disabled">Danger</button>
    <button class="btn btn_link disabled">Link</button>
</p>
<p>
    <button class="btn btn_default ripple">Default</button>
    <button class="btn btn_primary ripple">Primary</button>
    <button class="btn btn_success ripple">Success</button>
    <button class="btn btn_info ripple">Info</button>
    <button class="btn btn_warning ripple">Warning</button>
    <button class="btn btn_danger ripple">Danger</button>
    <button class="btn btn_link ripple">Link</button>
</p>
<p>
    <button class="btn btn_lg btn_default ripple">Large button</button>
    <button class="btn btn_lg btn_primary ripple">Large button</button>
    <button class="btn btn_lg btn_success ripple">Large button</button>
    <button class="btn btn_lg btn_info ripple">Large button</button>
    <button class="btn btn_lg btn_warning ripple">Large button</button>
    <button class="btn btn_lg btn_danger ripple">Large button</button>
    <button class="btn btn_lg btn_link ripple">Large button</button>
</p>
<p>
    <button class="btn btn_default ripple">Default button</button>
    <button class="btn btn_primary ripple">Default button</button>
    <button class="btn btn_success ripple">Default button</button>
    <button class="btn btn_info ripple">Default button</button>
    <button class="btn btn_warning ripple">Default button</button>
    <button class="btn btn_danger ripple">Default button</button>
    <button class="btn btn_link ripple">Default button</button>
</p>
<p>
    <button class="btn btn_small btn_default ripple">Small button</button>
    <button class="btn btn_small btn_primary ripple">Small button</button>
    <button class="btn btn_small btn_success ripple">Small button</button>
    <button class="btn btn_small btn_info ripple">Small button</button>
    <button class="btn btn_small btn_warning ripple">Small button</button>
    <button class="btn btn_small btn_danger ripple">Small button</button>
    <button class="btn btn_small btn_link ripple">Small button</button>
</p>
<p>
    <button class="btn btn_mini btn_default ripple">Mini button</button>
    <button class="btn btn_mini btn_primary ripple">Mini button</button>
    <button class="btn btn_mini btn_success ripple">Mini button</button>
    <button class="btn btn_mini btn_info ripple">Mini button</button>
    <button class="btn btn_mini btn_warning ripple">Mini button</button>
    <button class="btn btn_mini btn_danger ripple">Mini button</button>
    <button class="btn btn_mini btn_link ripple">Mini button</button>
</p>
<div class="btn_group" style="margin-top: 10px;">
    <button class="btn btn_lg btn_default ripple">Large button</button>
    <button class="btn btn_lg btn_primary ripple">Large button</button>
    <button class="btn btn_lg btn_success ripple">Large button</button>
</div>
<div class="btn_group" style="margin-top: 10px;">
    <button class="btn btn_default ripple">Default button</button>
    <button class="btn btn_primary ripple">Default button</button>
    <button class="btn btn_success ripple">Default button</button>
</div>
<div class="btn_group" style="margin-top: 10px;">
    <button class="btn btn_small btn_default ripple">Large button</button>
    <button class="btn btn_small btn_primary ripple">Large button</button>
    <button class="btn btn_small btn_success ripple">Large button</button>
</div>
<div class="btn_group" style="margin-top: 10px;">
    <button class="btn btn_mini btn_default ripple">Large button</button>
    <button class="btn btn_mini btn_primary ripple">Large button</button>
    <button class="btn btn_mini btn_success ripple">Large button</button>
</div>
