@import "../../assets/_defaultSetting";
@baseBorderRadius:4px;
.btn {
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: @baseBorderRadius;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  border: 1px solid transparent;
}
.btn_default {
  color: @baseColor;
  border-color:#ccc;
}
.btn_primary{
  color: #fff;
  border-color: #337ab7;
  background-color: #337ab7;
}
