<link rel="stylesheet" href="./button.css">
<button class="btn btn_default">按钮</button>
<button class="btn btn_primary">按钮</button>
<button class="btn btn_default ripple">Default</button>
<button class="btn btn_primary ripple">Primary</button>
<button class="btn btn_success ripple">Success</button>
<button class="btn btn_info ripple">Info</button>
<button class="btn btn_warning ripple">Warning</button>
<button class="btn btn_danger ripple">Danger</button>
<button class="btn btn_link ripple">Link</button>
