button.button {
  border: none;
  background: transparent;
  width: 80px;
  height: 28px;
  border-radius: 3px;
  font-weight : bold;
  font-size : 14px;
  color : #FFFFFF;
  text-align: center;
  cursor: pointer;
}
button.cancel{
  background-color: #bebfbf;
  color : #808080;
}
button.green{
  background-color: #0e9fac;
}
button.warning{
  background-color: #dc3545;
}