<link rel="stylesheet" href="../../css/public.css">
<link rel="stylesheet" href="../../component/thirdParty/iconfont/iconfont.css">
<link rel="stylesheet" href="./select.css">
<div class="selectContainer">
    <label class="select">
        <select name="select" class="select">
            <option value="D01">test1</option>
            <option value="D02" selected>test2</option>
            <option value="D03">test3</option>
        </select>
    </label>
    <label class="select" style="left: 500px;">
        <select name="select" class="select"></select>
    </label>
</div>

<!--
<div class="selectContainer">
    <label class="select">
        <select name="select" class="select"></select>
    </label>
</div>
-->


<script src="select.js" type="module"></script>
