@import "../assets/_defaultSetting";
html,body,header,main,aside,div,p,h1,h2,h3,h4,h5,h6,ul,li,input,button,select,option,textarea{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a,a:hover{
  text-decoration: none;
  color: inherit;
}
textarea{
  resize: none !important;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  font-family: @baseFontFamily,@baseFontFamilyBackUp;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @baseColor;
}
.clearFix::before,
.clearFix::after{
  content: '';
  display: block;
  clear: both;
}
.iconfont{
  vertical-align: middle;
  margin: 0 10px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}
