<link rel="stylesheet" href="./checkbox.css">
<link rel="stylesheet" href="../thirdParty/iconfont/iconfont.css">
<h3>矩形</h3>
<div class="chkList">
    <div class="chk chk_default">
        <input type="checkbox" id="check1">
        <label for="check1"></label>
    </div>
    <span>正常</span>
    <div class="chk chk_default">
        <input type="checkbox" id="check2" disabled>
        <label for="check2"></label>

    </div>
    <span>不能点击</span>
    <div class="chk chk_default">
        <input type="checkbox" id="check3" disabled checked>
        <label for="check3"></label>

    </div>
    <span>不能点击</span>
</div>
<h3>圆角</h3>
<div class="chkList">
    <div class="chk chk_radius">
        <input type="checkbox" id="check11">
        <label for="check11"></label>

    </div>
    <span>正常</span>
    <div class="chk chk_radius">
        <input type="checkbox" id="check21" disabled>
        <label for="check21"></label>

    </div>
    <span>不能点击</span>
</div>
