<link rel="stylesheet" href="./radio.css">
<h3>矩形</h3>
<div class="radioList">
    <div class="radio radio_default">
        <input type="radio" id="radio1" name="test">
        <label for="radio1"></label>
    </div>
    <span>正常</span>
    <div class="radio radio_default">
        <input type="radio" id="radio2" disabled name="test">
        <label for="radio2"></label>

    </div>
    <span>不能点击</span>
    <div class="radio radio_default">
        <input type="radio" id="radio3" disabled name="test" checked>
        <label for="radio3"></label>

    </div>
    <span>不能点击</span>
</div>
<h3>圆角</h3>
<div class="radioList">
    <div class="radio radio_radius">
        <input type="radio" id="radio11" name="test">
        <label for="radio11"></label>

    </div>
    <span>正常</span>
    <div class="radio radio_radius">
        <input type="radio" id="radio21" disabled>
        <label for="radio21"></label>

    </div>
    <span>不能点击</span>
</div>