<link rel="stylesheet" href="pagination.css">
<div class="pagination btn_group" id="pagination">
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemFirst">首页</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemPrev">上一页</button>
    <button class="btn btn_mini btn_default ripple btn_primary paginationItem paginationItemChild">1</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemChild">2</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemChild">3</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemChild">4</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemChild">5</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemNext">下一页</button>
    <button class="btn btn_mini btn_default ripple paginationItem paginationItemLast">末页</button>
</div>
<script src="pagination.js" type="module"></script>
