<link rel="stylesheet" href="./search.css">
<div class="search">
    <div class="searchItemList">
        <label class="item"><span class="label">新闻标题：</span><input class="query" type="text"></label>
        <label class="item"><span class="label">分类：</span> <select class="query" name="fenLei"></select></label>
        <label class="item"><span class="label">审核状态：</span><select class="query" name="shenHe"></select></label>
    </div>
    <div class="searchButton">
        <button class="green btn">搜     索</button>
    </div>
</div>
