<link rel="stylesheet" href="../../css/public.css">
<link rel="stylesheet" href="nav.css">
<nav class="navBar default">
    <ul>
        <li><a class="active"><span>Link 1</span></a></li>
        <li><a><span>Link 2</span></a></li>
        <li><a><span>Link 3</span></a></li>
    </ul>
</nav>

<nav class="navBar line">
    <ul>
        <li><a class="active"><span>Link 1</span></a></li>
        <li><a><span>Link 2</span></a></li>
        <li><a><span>Link 3</span></a></li>
    </ul>
</nav>

<nav class="navBar line2">
    <ul>
        <li class="active"><a class="active"><span>Link 1</span></a></li>
        <li><a><span>Link 2</span></a></li>
        <li><a><span>Link 3</span></a></li>
    </ul>
</nav>

<nav class="navBar block">
    <ul>
        <li><a class="active"><span>Link 1</span></a></li>
        <li><a><span>Link 2</span></a></li>
        <li><a><span>Link 3</span></a></li>
    </ul>
</nav>
